

<div class="row">
	<div class="jumbotron">
		<div class="container">
			<h1> About Us</h1>
			<div class="col-md-6">
				<h2>We make your nightly sleep selection easy, satisfaction guaranteed!</h2>
			</div>
		
			<div class="col-md-6">
				<h2>Choose from hundreds of sleep selections, from the beaches of Santa Monica, to under your local bridge.</h2>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h1> How We Started</h1>
	<p> Our team has been through the challenges of homelessness for decades, and we've found that it is really hard to find a place to sleep without a network of kind-hearted hosts who don't mind a piss-stained stench pervading their home atmosphere. We have created a wonderful community for both homeless and hosts that are out of town.
	</p>	
</div>

<div class="row">
	<div class="col-xs-4">
		<img src="https://lh5.googleusercontent.com/-w9h6uwffsyk/AAAAAAAAAAI/AAAAAAAAAHg/Y6wZl7N58hM/photo.jpg" class="img-responsive img-rounded" alt="Responsive image">
		<h2> Anastasia Zorko</h2>
		<p>Survived the cold homeless life of mother Russia. That's hardcore! </p>
	</div>
	<div class="col-xs-4">
		<img src="https://avatars3.githubusercontent.com/u/628429?v=2&s=460" class="img-responsive img-rounded" alt="Responsive image">
		<h2> Daniel Burt</h2>
		<p> Lived on the beach in Santa Monica. </p>
	</div>
	<div class="col-xs-4">
		<img src="http://stuffpoint.com/cats/image/245258-cats-cute-white-cat.jpg" class="img-responsive img-rounded" alt="Responsive image">
		<h2>Breakfast the Homeless Cat </h2>
		<p> Got lost and never found his first owners again. </p>
	</div>
</div>


